@import "tailwindcss";

:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  min-height: 100vh;
}

body {
  background: linear-gradient(135deg, #222222 0%, #333333 100%);
}

select {
  min-width: 136px;
}
